//localhost:8081/repository/nodejs-repo/:_auth=YWRtaW46YWRtaW4xMjM=
//localhost:8081/repository/nodejs-repo/:username=admin
//localhost:8081/repository/nodejs-repo/:_password=YWRtaW4xMjM=
//localhost:8081/repository/nodejs-repo/:email=bradleysanchez28@gmail.com
//localhost:8081/repository/nodejs-repo/:always-auth=true
